/** fonts  */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* *{
    margin: 0;
    padding: 0;
} */

/** shared style */

.secondary-bg {
  background-color: #fff8f3;
}

.text-primary {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}

.section-tittle {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}

.section-description {
  font-size: 18px;
  color: #757575;
}

.text-center {
  text-align: center;
}

/** header  */

.header {
  background-image: url(../images/developer.png), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/** Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

/** banner styles */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 230px;
}

.banner-content {
  max-width: 580px;
}

.banner-profile-picture {
  width: 580px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}
.banner-tittle {
  font-size: 85px;
  font-weight: 800;
}
.banner-description {
  font-size: 18px;
}

/* *main styles  */

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section{
    margin: 130px 0px;
}

/** about style  */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-description {
  font-weight: 600;
}

/* Skills section styles */

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}


/** Resume section style */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description, .experience-sub-tittle{
    color: #757575;
}
.experience-sub-tittle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
  margin-top: 50px;
}
/* *footer styles  */

footer{
    padding: 130px 200px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"] , footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
